@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 20%);
    --whiteColorDream: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240,240,246);
    --cardBG: rgb(225, 225, 235);
}
.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--whiteColorDream);
    width: 100%;
    height: 15%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.397);
    .logoDiv{
        width: 40%;
        .logo{
            width: 350px;
            color: var(--blackColor);
            font-weight: 100;
            cursor: pointer;
            
            justify-content: space-between;
            transform: translateY(-10px);
            font-size: 10px;
            .icon{
                font-size: 25px;
                color: var(--PrimaryColor);
                transform: translateY(20px);
                width: 15%;
            
            }
        
            .childH6{
                transform: translateX(75%);
                width: 20%;
                
            }
        
        }
    }
       
    @media screen and (max-width: 768px){
        .navBar{
            position: absolute;
            background-color: var(--whiteColorDream);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -300rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: 0.5s ease-in-out;
            .navLists{
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;
                .navItem {
                    padding: .5rem 0;
                    .navLink{
                        color: var(--textColor);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover{
                            color: var(--PrimaryColor);
                        }
                    }
                }
                .btn{
                    margin-top: 3rem;
                    a{
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                }
            }
            .closeNavbar{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);
                &:hover{
                    color: var(--SecondaryColor);
                }
            }
        }
        .activeNavbar{
            top: 7rem;
        }
        
    }
    .toggleNavbar{
        .icon{
            font-size: 25px;
            color: var(--PrimaryColor);
        }
        &:hover .icon{
            color: var(--SecondaryColor);
        }
    }
}

@media screen and (min-width: 769px) {
    .toggleNavbar,.closeNavbar{
        display: none;
    }
    .header{
        padding: 1.5rem 2rem;
        .navBar {
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                .navItem{
                    .navLink{
                        color: var(--textColor);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        position: relative;
                        overflow: hidden;
                        font-family: 'Roboto', sans-serif;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 2px;
                            bottom: -3px;
                            left: 0;
                            background-color: var(--PrimaryColor);
                            transition: width 0.3s ease, color 0.3s ease;
                          }
                          &:hover{
                            color: var(--PrimaryColor);
                          }
                          &:hover:before {
                            width: 100%; /* Khi hover, dấu gạch chân sẽ chạy dài từ trái sang phải */
                            color: var(--PrimaryColor);
                          }
                          
                        
                    }
                }
                .btn{
                    margin-left: 1rem;
                    
                    a{
                        color: var(--whiteColor);
                        font-weight: 500;
                        
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 960px) {
    .header{
        .navBar{
            .navLists{
                
                .navItem{
                    padding: 0 0.1rem;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1142px) {
    .header{
        .navBar{
            .navLists{
                
                .navItem{
                    
                    padding: 0 0.1rem;
                }
            }
            
        }
    }
}
@media screen and (min-width: 1110px) {
    .header{
        .navBar{
            
            .navLists{
                
                padding: 0 0.1rem;
            }
           
            
        }
    }   
    
}
@media screen and (min-width: 1240px) {
    .header{
        padding: 1 8.5rem;
        .navBar{
            
            .navLists{
              justify-content: center;  
            }
        }    
    }
}